{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="p-4 bg-red-100 mt-8 w-1/2 mx-auto">
        <div>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
        </div>
        <form method="POST">
            {% csrf_token %}
            {{form1.as_p}}
            <button type="submit" class="bg-indigo-400 px-3 py-2 text-white rounded-md mt-2">Submit</button>
        </form>
    </div>
</body>
</html>