{% extends "dashboard/common_dashboard.html" %}

{% block title %}User Dashboard{% endblock title %}

{% block tasks %}
<div class="grid grid-cols-1 md:grid-cols-2 mx-auto mt-7 gap-4">
  {% comment %} Todays tasks {% endcomment %}
  <div class="bg-white p-6 rounded-lg shadow-md">
    <div class="text-2xl font-semibold"><span>Today's Tasks</span></div>
    <div class="mt-6">
      <div class="flex justify-between">
        <div class="flex items-center gap-3">
          <div class="h-2 w-2 rounded-full bg-green-500"></div>
          <div><span class="font-medium">Complete project proposal</span></div>
        </div>
        <div class="text-sm text-gray-500"><span>High</span></div>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center gap-3">
          <div class="h-2 w-2 rounded-full bg-yellow-500"></div>
          <div><span class="font-medium">Review team updates</span></div>
        </div>
        <div class="text-sm text-gray-500"><span>Normal</span></div>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center gap-3">
          <div class="h-2 w-2 rounded-full bg-blue-500"></div>
          <div><span class="font-medium">Prepare for client meeting</span></div>
        </div>
        <div class="text-sm text-gray-500"><span>Low</span></div>
      </div>
    </div>
  </div>
  {% comment %} All tasks {% endcomment %}
  <div class="bg-white p-6 rounded-lg shadow-md">
    <div class="text-2xl font-semibold"><span>All Tasks</span></div>
    <div class="grid grid-cols-4 text-gray-500 text-sm font-semibold">
      <div class="p-2">TASK TITLE</div>
      <div class="p-2">PRIORITY</div>
      <div class="p-2">TEAM</div>
      <div class="p-2">CREATED AT</div>
    </div>
    <div class="grid grid-cols-4 p-1 gap-6">
      <div class="flex items-center gap-3">
        <div class="h-2 w-2 rounded-full bg-green-500"></div>
        <div><span class="font-medium">Test Low Task</span></div>
      </div>
      <div>
        <span class="px-2 py-1 bg-blue-100 text-blue-600 text-sm">Low</span>
      </div>
      <div class="flex -space-x-2">
        <div
          class="h-8 w-8 rounded-full bg-red-500 text-white flex justify-center items-center text-sm border-2"
        >
          CA
        </div>
        <div
          class="h-8 w-8 rounded-full bg-green-500 text-white flex justify-center items-center text-sm border-2"
        >
          AB
        </div>
        <div
          class="h-8 w-8 rounded-full bg-yellow-500 text-white flex justify-center items-center text-sm border-2"
        >
          JK
        </div>
      </div>
      <div><span class="text-gray-500 text-base">9 months ago</span></div>
    </div>
    <div class="grid grid-cols-4 p-1 gap-6">
      <div class="flex items-center gap-3">
        <div class="h-2 w-2 rounded-full bg-yellow-500"></div>
        <div><span class="font-medium">Test Task</span></div>
      </div>
      <div>
        <span class="px-2 py-1 bg-gray-200 text-black-500 text-sm">Normal</span>
      </div>
      <div class="flex -space-x-2">
        <div
          class="h-8 w-8 rounded-full bg-red-500 text-white flex justify-center items-center text-sm border-2 border-white"
        >
          AJ
        </div>
        <div
          class="h-8 w-8 rounded-full bg-violet-500 text-white flex justify-center items-center text-sm border-2 border-white"
        >
          EV
        </div>
        <div
          class="h-8 w-8 rounded-full bg-blue-500 text-white flex justify-center items-center text-sm border-2 border-white"
        >
          B
        </div>
      </div>
      <div><span class="text-gray-500 text-base">7 months ago</span></div>
    </div>
    <div class="grid grid-cols-4 p-1 gap-6">
      <div class="flex items-center gap-3">
        <div class="h-2 w-2 rounded-full bg-red-500"></div>
        <div><span class="font-medium">Test Task</span></div>
      </div>
      <div>
        <span class="px-2 py-1 bg-red-100 text-red-600 text-sm">High</span>
      </div>
      <div class="flex -space-x-2">
        <div
          class="h-8 w-8 rounded-full bg-blue-500 text-white flex justify-center items-center text-sm border-2 border-white"
        >
          AJ
        </div>
        <div
          class="h-8 w-8 rounded-full bg-red-500 text-white flex justify-center items-center text-sm border-2 border-white"
        >
          SS
        </div>
        <div
          class="h-8 w-8 rounded-full bg-green-500 text-white flex justify-center items-center text-sm border-2 border-white"
        >
          B
        </div>
        <div
          class="h-8 w-8 rounded-full bg-yellow-500 text-white flex justify-center items-center text-sm border-2 border-white"
        >
          CA
        </div>
      </div>
      <div><span class="text-gray-500 text-base">10 months ago</span></div>
    </div>
  </div>
</div>
{% endblock tasks %}